<%- include('_includes/header.ejs') %>

    <div class="grid">
        <div class="navbar">
            <%- include('_includes/navbar.ejs') %>

        </div>
        <%- include('_includes/sidebar.ejs') %>

            <div class="content scrollbar">
                <div class="index-graph">
                    <div class="graph1">
                        <div class="graph-title">Répartition des adhérents par section</div>
                    </div>
                    <div class="graph2">
                        <div id="js-graph1" class="graph-item item-even" style="height: 9.40171%;">
                            <span class="graph-count">
                                22
                            </span>
                            <span class="graph-item-about"> --- Artisanat</span>
                        </div>
                    </div>
                    <div class="graph3">
                        <div id="js-graph2" class="graph-item item-odd" style="height: 30.7692%;">
                            <span class="graph-count">
                                72
                            </span>
                            <span class="graph-item-about"> --- Commerce</span>
                        </div>
                    </div>
                    <div class="graph4">
                        <div id="js-graph3" class="graph-item item-even" style="height: 13.6752%;">
                            <span class="graph-count">
                                32
                            </span>
                            <span class="graph-item-about"> --- Industrie</span>
                        </div>
                    </div>
                    <div class="graph5">
                        <div id="js-graph4" class="graph-item item-odd" style="height: 100%;">
                            <span class="graph-count">
                                234
                            </span>
                            <span class="graph-item-about"> --- Services</span>
                        </div>
                    </div>
                    <div class="graph6">
                        <div class="graph-legend">
                            <div class="legend-icon icon-even"></div>
                            <p class="legend-text">Artisanat</p>
                        </div>
                    </div>
                    <div class="graph7">
                        <div class="graph-legend">
                            <div class="legend-icon icon-odd"></div>
                            <p class="legend-text">Commerce</p>
                        </div>
                    </div>
                    <div class="graph8">
                        <div class="graph-legend">
                            <div class="legend-icon icon-even"></div>
                            <p class="legend-text">Industrie</p>
                        </div>
                    </div>
                    <div class="graph9">
                        <div class="graph-legend">
                            <div class="legend-icon icon-odd"></div>
                            <p class="legend-text">Services</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>