<h1 class="title-navbar">Tableau de bord</h1>
<div class="navbar-row">
    <img width="18px" height="18px" src="/img/home.png" alt="utilisateurs" class="navbar-icon">
    <a href="/accueil" class="navbar-text">Accueil</a>
</div>
<div class="navbar-row">
    <img width="20px" height="20px" src="/img/users.png" alt="utilisateurs" class="navbar-icon">
    <a href="/utilisateurs" class="navbar-text">Utilisateurs</a>
</div>
<div class="navbar-row">
    <img width="20px" height="20px" src="/img/adherents.png" alt="utilisateurs" class="navbar-icon">
    <a href="/adherents" class="navbar-text">Adhérents</a>
</div>
<div class="navbar-row">
    <img width="20px" height="20px" src="/img/sondages.png" alt="utilisateurs" class="navbar-icon">
    <a href="/logs" class="navbar-text">Activités</a>
</div>
<div class="navbar-footer">
    <a href="/logout" class="navbar-text">Déconnexion</a>
</div>
